# PSQL
dj-database-url==0.5.0
psycopg2-binary==2.7.4
SQLAlchemy==1.2.10
docopt==0.6.2
tablib==0.12.1
odfpy==1.3.6
openpyxl==2.5.5
unicodecsv==0.14.1
xlwt==1.3.0
PyYAML==3.13
jdcal==1.4
et_xmlfile==1.0.1
records==0.5.2

# Crypto
pycrypto==2.6.1 # Potential vulnerability, probably not relevant for this implementation
merkletools==1.0.2
pysha3==1.0b1

#QRCode
Pillow==4.2.1

# Network theory
decorator==4.3.0
networkx==2.1

# Plotting
backports.functools-lru-cache==1.5
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.3
pyparsing==2.3.0
subprocess32==3.5.3

# Data science
numpy==1.15.2
pandas==0.23.4
python-dateutil==2.7.3

# Google Cloud Big query
certifi==2018.8.24
chardet==3.0.4
futures==3.2.0
google-api-core==1.4.1
google-cloud-bigquery==1.5.1
google-cloud-core==0.28.1
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
protobuf==3.6.1
requests==2.19.1
setuptools==40.4.3
urllib3==1.23
